.offcanvas {
    visibility: visible !important;
}

@media (max-width:768px) {
    .offcanvas.show .btn-search {
        display: none;
    }
    .btn-search {
        right: -46px !important;
    }
}

.btn-search {
top: 250px;
right: -49px;
/*left: 0;*/
padding:15px 10px;
-webkit-writing-mode: vertical-lr;
writing-mode: vertical-lr;
border-radius: 0 10px 10px 0;
letter-spacing: 5px;
}

.range {
    accent-color: var(--primary) !important;
}
.searchLabel:hover {
    color: red;
    cursor:pointer;
}

.searchCheckbox:checked + span {
  
}