@model Member

@{
	bool show = ViewBag.show ?? false;
	string color = ViewBag.color ?? "success"; // 預設顏色
	string message = ViewBag.message ?? ""; // 預設訊息
}

@if (ViewBag.show)
{
	@await Html.PartialAsync("_PartialAlert", new PartialAlert
{
	Color = color,
	AlertText = message,
	Show = show,
	Time = 2000
})
}

<section class="memberLayout container py-5">
	<div class="d-flex flex-column flex-md-row">
		@await Html.PartialAsync("_PartialMemberListGroup")
		<div class="w-100  ps-md-5">
			@await Html.PartialAsync("_PartialPageTitle", "變更密碼")
			<form action="EditPassword" method="post">
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="Email" name="Email" value="@Model.email" readonly>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">新密碼</label>
					<input type="password" class="form-control" id="password" name="password" value="">
				</div>
				<div class="mb-3">
					<label for="checkPW" class="form-label">確認新密碼</label>
					<input type="password" class="form-control" id="checkPW" name="checkPW" value="">
					<div class="invalid-feedback">與新密碼不一致</div>
				</div>
				<div class="text-center ">
					<button type="submit" class="btn btn-primary px-5 py-3">修改</button>
				</div>

			</form>
		</div>
	</div>
</section>



@section Scripts {
	<script>
		$(document).ready(function () {
			const form = $("form");
			const password = $("#password");
			const checkPw = $("#checkPW");

			form.on("submit", function (e) {
				clearErrors();

				let isValid = true;

				if (!password.val().trim() || !validatePw(password.val())) {
					showError(password, "請輸入至少6位數新密碼");
					isValid = false;
				}

				if (password.val() != checkPw.val()) {
					checkPw.addClass("is-invalid");
					isValid = false;
				} else {
					checkPw.removeClass("is-invalid");
				}


				if (!isValid) {
					e.preventDefault();
				}
			});

			// 顯示錯誤提醒
			function showError($element, message) {
				const $error = $("<div>").addClass("text-danger mt-1").text(message);
				$element.closest(".mb-3").append($error);
				$element.addClass("is-invalid");
			}

			// 清除所有錯誤提醒
			function clearErrors() {
				$(".text-danger").remove();
				$(".is-invalid").removeClass("is-invalid");
			}

			// 密碼驗證
			function validatePw(password) {
				const pwPattern = /.{6,}/;
				return pwPattern.test(password);
			}


		});


	</script>
}